extends layout

block content
    doctype html
    html
        head
            meta(charset='UTF-8')
            title Login Form
            meta(name='viewport', content='width=device-width, initial-scale=1')
        body
            .container
                header.heading 
                    h1 Login
                hr

                form(action='/login', method='POST')
                    .row
                        .col-sm-12
                            .row
                                .col-xs-4
                                    label(for='email') Email:
                                .col-xs-8
                                    input#email.form-control(type='email', name='email', placeholder='Enter your email')

                        .col-sm-12
                            .row
                                .col-xs-4
                                    label(for='password') Password:
                                .col-xs-8
                                    input#password.form-control(type='password', name='password', placeholder='Enter your password')

                    .col-sm-12
                        button.btn.btn-warning(type='submit') Submit
