extends layout

block content
    doctype html
    html
        head
            meta(charset='UTF-8')
            title Registration Form
            meta(name='viewport', content='width=device-width, initial-scale=1')
        body
            .container
                header.heading 
                    h1 Registration Form
                hr

                form(action='/register', method='POST')
                    .row
                        .col-sm-12
                            .row
                                .col-xs-4
                                    label(for='name') Name:
                                .col-xs-8
                                    input#name.form-control(type='text', name='name', placeholder='Enter your name')

                        .col-sm-12
                            .row
                                .col-xs-4
                                    label(for='email') Email:
                                .col-xs-8
                                    input#email.form-control(type='email', name='email', placeholder='Enter your email')

                        .col-sm-12
                            .row
                                .col-xs-4
                                    label(for='password') Password:
                                .col-xs-8

                                    input#password.form-control(type='password', name='password', placeholder='Enter your Password')

                        // - For Gender
                        .col-sm-12
                            .row
                                .col-xs-4
                                    label Gender:
                                .col-xs-8
                                    .form-check.form-check-inline
                                        input#gender-male.form-check-input(type='radio', name='gender', value='boy')
                                        label.form-check-label(for='gender-male') Male
                                    .form-check.form-check-inline
                                        input#gender-female.form-check-input(type='radio', name='gender', value='girl')
                                        label.form-check-label(for='gender-female') Female
                                    .form-check.form-check-inline
                                        input#gender-other.form-check-input(type='radio', name='gender', value='other')
                                        label.form-check-label(for='gender-other') Other
=======
                                    input#password.form-control(type='password', name='password', placeholder='Enter your password')

                    .col-sm-12
                        button.btn.btn-warning(type='submit') Submit
